@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

$primary: hsl(180, 66%, 49%);
$Dark-Violet: hsl(257, 27%, 26%);
$Red: hsl(0, 87%, 67%);
$Gray: hsl(0, 0%, 75%);
$Grayish-Violet: hsl(257, 7%, 63%);
$Very-Dark-Blue: hsl(255, 11%, 22%);
$Very-Dark-Violet: hsl(260, 8%, 14%);

@import '~bootstrap/scss/bootstrap';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height:100%;
  min-height: 100vh;
  margin:0;
  height:0;
  font-size: 18px;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  position: relative;
  color:$Very-Dark-Violet;
}

#root {
  width: 100%;
  overflow-x: hidden;
}

section {
  position:relative;
}

h1 {
  font-weight: 700;
  font-size:80px;
  line-height: 120%;
  color:$Very-Dark-Violet;
  letter-spacing: -2px;
  margin:0;
  padding:0;
}
h2 {
  font-size:40px;
  font-weight: 700;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}
.hero {
  padding: 25px 0 150px;
  & .description {
    font-size: 22px;
    width:90%;
    margin-bottom:40px;
  }
}
.description {
  color:$Gray;
  width:90%;
  font-size:18px;
}

.btn {
  border-radius: 50px;
  padding:15px 40px;
  font-weight: 700;
  font-size:20px;
  color:#fff;
  align-self: flex-start;
  &:focus {
    box-shadow:none;
  }
  &.round {
    border-radius:10px;
    padding:20px 40px;
  }
}
.btn-primary:hover {
    background-color: lighten($primary, 20%);
    border-color: lighten($primary, 20%);
}
.gray-bg {
  background-color: #f0f1f6;
}
.pattern-bg {
  background-image: url('./images/bg-boost-desktop.svg');
  background-size: cover;
  background-repeat:no-repeat;
  background-color:$Dark-Violet;
}
section.half {
  background-color:transparent;
  &:after {
    content: '';
    width:100%;
    height:50%;
    position:absolute;
    bottom:0;
    z-index: -1;
  }
  &.gray-bg:after {
    background-color: #f0f1f6;
  }
}
.section-title {
  padding-top: 60px;
  padding-bottom:60px;
  &.white {
      color:#fff;
  }
  & h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  & .description {
    text-align: center;
    max-width: 540px;
    margin:0 auto;
  }
  & .btn {
    margin: 0 auto;
    display: inherit;
  }
}

.section-content {
  padding-top: 40px;
  padding-bottom:120px;
  position: relative;
}
.navbar {
  padding:50px 0;
}
.navbar-nav {
    align-items: center;
    & .nav-link {
      font-size:16px;
    }
    & .btn {
      padding:8px 20px;
      font-size:16px;
    }
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: $Very-Dark-Violet;
}
.navbar-brand {
    margin-right:30px;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}
.shorten-form {
  padding:50px 64px;
  background-image: url('./images/bg-shorten-desktop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color:$Dark-Violet;
  // transform: translateY(-50%);
  border-radius:10px;
  & .input-wrapper {
    position:relative;
  }
  &.form-inline .form-control {
    width: 100%;
    padding:20px 40px;
    height: auto;
    border-radius:10px;
    font-size:20px;
    color:$Very-Dark-Violet;
    &::placeholder {
      color:$Gray;
    }
    &.error {
      box-shadow: inset 0 0 0 2px $Red;
      border-color:$Red;
      &::placeholder {
        color:lighten($Red, 15%);
      }
    }
  }
  & .error-message {
    position:absolute;
    bottom:-30px;
    color:$Red;
    font-size: 16px;
    font-style: italic;
    font-weight: 700;
  }
}

.links-wrapper {
  padding:16px 0 56px;
  & .result {
    background-color: #fff;
    display: flex;
    padding:16px 24px;
    border-radius:5px;
    align-items:center;
    margin-bottom:16px;
    & .original {
          margin-right: auto;
          padding:0 8px;
          font-size: 20px;
          color:$Very-Dark-Violet;
          flex-grow: 1
    }
    & .short-link {
         padding:0 24px;
         color:$primary;
         font-size: 20px;
    }
    & .btn {
      padding: 12px 20px;
      font-size: 15px;
      max-width: 100px;
      width: 100%;
      border-radius:5px;
      &.active {
        background-color:$Dark-Violet;
      }
    }
  }
}

.highlight {
  background-color: #fff;
  position:relative;
  padding:80px 32px 40px;
  border-radius:5px;
  & .icon {
    width:88px;
    height: 88px;
    position: absolute;
    top:0;
    transform: translateY(-50%);
    background-color:$Dark-Violet;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius:50%;
  }
  & .title {
    font-size: 22px;
    font-weight: 700;
    color:$Very-Dark-Violet;
    padding-bottom:20px;
  }
  & .copy {
    font-size: 15px;
    line-height: 160%;
    color:$Gray;
  }
}

.stagger {
  & .highlight-wrapper {
      &:first-child {
        padding-top:0px;
      }
      &:nth-child(2) {
        padding-top:45px;
      }
      &:nth-child(3) {
        padding-top:90px;
      }
  }
  &:before {
    content: '';
    background-color:$primary;
    position:absolute;
    margin: auto;
    height:8px;
    width:80%;
    left:0;
    right:0;
    top:0;
    bottom:0;
  }
}

footer {
  background-color:$Very-Dark-Violet;
  color:#fff;
  padding:70px 0;
  & .logo {
    margin-bottom: 50px;
    & img {
      filter: brightness(900%);
    }
  }
  & h6 {
    font-size: 16px;
    font-weight: 700;
    padding-bottom:16px;
  }
  & .footer-link {
    font-size: 15px;
    font-weight: 500;
    color:$Gray;
    padding:8px 0;
    cursor: pointer;
    &:hover {
      color: $primary;
    }
  }
  & .social {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 24px;
    & svg {
      align-self: flex-start;
      cursor: pointer;
      &:hover {
        color:$primary;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  
  h1 {
    font-size: 42px;
  }
  
  .navbar {
    padding:35px 0 15px;
  }

  .navbar-light .navbar-toggler {
      border-color: transparent;
      padding: 0;
      &:focus {
        outline: none;
      }
      & .navbar-toggler-icon:focus {
        outline: none;
      }
  }

  #basic-navbar-nav {
      position: absolute;
      width: 100%;
      top: 100%;
      background-color:$Dark-Violet;
      border-radius:10px;
      z-index: 2;
      padding:24px;
      & .nav-link {
        color:#fff;
        padding:16px 0;
        font-size:18px;
        width: 100%;
        text-align: center;
      }
      & .user-area {
        border-top:1px solid lighten($Dark-Violet, 10%);
        margin-top:16px;
        padding-top: 16px;
      }
      & .btn {
        width: 100%;
      }
  }

  .pattern-bg {
    background-image: url('./images/bg-boost-mobile.svg');
  }

  .shorten-form {
    padding:24px;
    background-image: url('./images/bg-shorten-mobile.svg');
    background-size: 70%;
    background-position:top right;
    & .btn {
      width: 100%;
      padding:16px;
    }
    & .input-wrapper {
      padding-bottom:24px;
    }
    &.form-inline .form-control {
      padding:16px;
      font-size:16px;
    }
    & .error-message {
      position:relative;
      bottom:initial;
      font-size: 13px;
      padding-top:5px;
    }
  }
  .hero {
    padding: 0 0 90px;
    & .illustration img {
      width:150%;
    }
  }
  .hero-content {
    order:2;
    padding-top:15px;
    & h1 {
      text-align: center;
      padding: 25px 0;
    }
    & .description {
      text-align: center;
      font-size: 18px;
      margin:0 auto 30px;
    }
    & .btn {
      margin:0 auto;
    }
  }

  h2 {
    font-size: 28px;
  }

  .section-title {
    padding-top: 60px;
    padding-bottom:60px;
    & h2 {
      margin-bottom: 30px;
    }
    & .description {
      font-size: 16px;
    }
    & .btn {
      margin: 0 auto;
      display: inherit;
    }
  }

  .links-wrapper {
    padding:24px 0 8px;
    & .result {
      padding:16px;
      margin-bottom: 24px;
      flex-wrap:wrap;
      & .original {
          padding:0;
          padding-right: 30px;
          padding-bottom:10px;
          border-bottom:1px solid $Gray;
          width: 100%;
          font-size: 16px;
      }
      & .short-link {
           padding:12px 0px;
           font-size: 16px;
      }
      & .btn {
        max-width: 100%;
      }
    }
  }

  .highlight {
    padding:80px 32px 40px;
    border-radius:5px;
    & .icon {
      left:0;
      right:0;
      margin:0 auto;
    }
    & .title {
      text-align: center;
    }
    & .copy {
      text-align: center;
    }
  }

  .stagger {
    & .highlight-wrapper {
        &:first-child {
          padding-top:0px;
        }
        &:nth-child(2) {
          padding-top:90px;
        }
        &:nth-child(3) {
          padding-top:90px;
        }
    }
    &:before {
      height:70%;
      width:8px;
    }
  }

  footer {
    padding:70px 0;
    text-align: center;
    & .logo {
      margin-bottom: 10px;
      & img {
        margin: 0 auto;
      }
    }
    & h6 {
      padding-bottom:24px;
      padding-top:40px;
    }
    & .social {
      justify-content: center;
      padding-top:50px;
      & svg {
        margin:0 12px;
      }
    }
  }
}